.start-screen {
    background-image: url('../../assets/img/beer.png');
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 960px) {
        overflow: hidden;
    }
    
    img {
        height: 100vh;
        width: 60vw;
        @media (max-width: 1450px) {
            overflow: hidden;
        }
        @media (max-width: 960px) {
            overflow: hidden;
            min-width: 350px;
        }
    }
}

.start-label {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 32px;
    display: flex;
    justify-content: center;

    img {
        width: 25vw;
        height: 15vh;
        
        @media (max-width: 960px) {
            min-width: 230px;
        }

        &:hover {
            filter: brightness(1.25);
            cursor: pointer;
        }
    }
}